@model IEnumerable<AgregatorLinkow.Models.Link>
@*@model AgregatorLinkow.Models.Link*@

@{
    ViewData["Title"] = "MyProfile";
}

    <h2>My profile</h2>

    <div>
        <a asp-area="" asp-controller="Agregator" asp-action="AddLink">Add link</a>
    </div>

<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                Tytuł:
            </th>
            <th>
                Link:
            </th>
            <th>
                Data dodania:
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var link in Model)
        {
            <tr>

                
                        <td>

                            @Html.DisplayFor(modelItem => link.TotalityOfPluses)
                        </td>
            

                <td>
                    @Html.DisplayFor(modelItem => link.Title)

                </td>
                <td>
                    <a href="@link.Url">@link.Url</a>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => link.AddingDate)
                </td>


            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Wróc do listy linków</a>
</div>